.row.justify-content-center.mt-5
  .col-md-5.col-lg-4
    .card
      .card-header.text-center
        %h4.mb-0 アカウント編集
      .card-body
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          = f.error_notification
          = f.input :name, label: "名前", placeholder: "名前を入力してください"
          = f.input :email, autofocus: true, autocomplete: "email", label: "メールアドレス"
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            .mb-2
              = "現在確認待ち: #{resource.unconfirmed_email}"
          = f.input :password, autocomplete: "new-password", label: "新しいパスワード", hint: "変更しない場合は空欄にしてください", required: false, input_html: { value: "" }
          = f.input :password_confirmation, autocomplete: "new-password", label: "パスワード確認", required: false, input_html: { value: "" }
          = f.input :current_password, autocomplete: "current-password", label: "現在のパスワード", hint: "変更を確認するために現在のパスワードが必要です"
          = f.button :submit, "更新する", class: "btn btn-primary w-100 mt-2"
        = render "devise/shared/links"
