= simple_form_for @group do |f|
  = f.error_notification

  = f.input :name, label: "グループ名", placeholder: "グループ名を入力してください"

  .d-flex.gap-2
    = f.submit @group.new_record? ? "作成" : "更新", class: "btn btn-primary"
    = link_to "キャンセル", groups_path, class: "btn btn-secondary"
